<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8"/>
    <title>The Store</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="navbar">
<!--banner-->
<div class="page-top" style="width: 100%; height: 15px; background-color: orange"></div>
<!-- Navbar section -->
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom"> <a class="navbar-brand ml-5 font-weight-bold" th:href="@{/}"><span id="burgundy">The</span><span id="orange"> Store</span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor">
        <ul class="navbar-nav">

<!--
            <li><h3>Hello, <span sec:authentication="principal.username"></span>!</h3></li>
-->


            <li class="nav-item search-nav-item">
                <span>
            <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
  </form>
            </span>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="btn btn-light">SHOPPING CART</a> </li>
            <li><a th:href="@{/login}" class="btn btn-light">MY ACCOUNT</a> </li>
            <li><a th:href="@{/logout}" class="btn btn-light">LOGOUT</a> </li>

        </ul>
    </div>
</nav>
<div class="filter"> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
</div>
</div>
</div>


<!--Footer-->
<!--<div th:fragment="footer">
    <div class="footer" >
        <div class="py-2 border-top ml-3">
            <div class="footer-text"><p>Footer</p></div>
        </div>
    </div>
</div>-->
</body>
</html>