
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.content-section{
    flex: 1 0 auto;
}

.blok {margin:30px;}

.footer {
    margin-top: 20px;
    flex-shrink: 0;
    /*position: relative;*/
    width: 100%;
    height: 100px;
    background-color: #343a40;
    text-align: center;
}

.footer-text{
    color: white;
    padding-top: 35px;
}
.social-section{
    background-color:#343a40;
}
.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #343a40;
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#search {
    outline: none;
    border: none;
    display: inline-block
}

#burgundy {
    color: rgb(153, 40, 59)
}

#orange,
select,
.btn {
    color: orange
}

.fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px
}

.search-nav-item {
    height: 40px
}

nav {
    padding: 0px 200px;
    height: 50px;

}

.card {
    border: none
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: red;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}


.btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
}

.btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important
}

.btn-danger:focus {
    box-shadow: none
}

.cart i {
    margin-right: 10px
}