<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
    <link href="/css/admin-account.css" rel="stylesheet">
</head>
<body>
<div th:replace="common/common :: navbar"></div>

            <ul class="nav nav-tabs" >
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-1"><span style="color: black">Add product category</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-2"><span style="color: black">Add product</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-3"><span style="color: black">Users administration</span></a>
                </li>
            </ul>

            <!--tab panels-->
            <div class="tab-content">

                <div class="tab-pane fade" id="tab-1" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">
                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="row">
                                            <div class="col-md-20 col-md-offset-10">
                                <form th:action="@{/add-category}" method="post" th:object="${category}">
                                    <div class="form-group">
                                        <label for="category">Category name</label>
                                        <input type="text" th:field="*{categoryName}" class="form-control" id="category">
                                        <small id="emailHelp" class="form-text text-muted">Created category will shown in the sidebar on the main page.</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-2" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">
                               <p>Here will be adding product functionality</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-3" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">
                                <p>Here will be users administration functionality</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--success messages-->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col-md-20 col-md-offset-10">
                <div th:if="${param.categoryadded}" style="padding-top: 20px">
                    <div class="alert alert-info">You've successfully added new product category!</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>