<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
    <link href="/css/admin-account.css" rel="stylesheet">
</head>
<body>
<div th:replace="common/common :: navbar"></div>

            <ul class="nav nav-tabs" id="admin-page-tabs"  >
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-1"><span style="color: black">Product categories</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-2"><span style="color: black">Products</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-3"><span style="color: black">Users</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-4"><span style="color: black">New orders</span></a>
                </li>
            </ul>

            <!--tab panels-->
            <div class="tab-content">

                <div class="tab-pane fade" id="tab-1" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">


                                        <div class="d-flex justify-content-center">
                                            <div class="col-sm-6">

                                                <table class="table table-hover">
                                                    <thead class="thead">
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Category name</th>
                                                        <th scope="col">Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr style="transform: rotate(0);" th:each="category: ${categories}">
                                                        <form th:action="@{/deletecategory}" th:method="post" th:object="${category}">
                                                            <td th:type="number" th:text="${category.id}"/></td>
                                                            <td th:text="${category.categoryName}"/>
                                                            <td>
                                                                <input type="hidden" name="id" th:value="${category.id}">
                                                                <button type="submit" class="btn"><i class="fa fa-trash fa-2x" style="color: #b9bbbe"></i></button>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                <form th:action="@{/add-category}" method="post" th:object="${category}">
                                    <div class="form-group">
                                        <label for="category">Add product category</label>
                                        <input type="text" th:field="*{categoryName}" class="form-control" id="category">
                                        <small class="form-text text-muted">Created category will shown in the sidebar on the main page.</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-2" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">
                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="row">
                                            <div class="col-md-20 col-md-offset-10">

                                                <table class="table table-hover">
                                                    <thead class="thead">
                                                    <tr>
                                                        <th scope="col">Product image</th>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Product name</th>
                                                        <th scope="col">Product category</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Weight</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">In stock</th>
                                                        <th scope="col">Active</th>
                                                        <th scope="col">Edit product</th>
                                                        <th scope="col">Delete product</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr style="transform: rotate(0);" th:each="product: ${productList}">
                                                        <form th:action="@{/deleteproduct}" th:method="post" th:object="${product}">
                                                            <td><img th:src="@{'/image/'+'product'+${product.id}+'.png'}" alt="prod_img" border=1 height=100 width=100></td>
                                                            <td th:type="number" th:text="${product.id}"/></td>
                                                            <td th:text="${product.name}"/>
                                                            <td th:text="${product.productCategories}"/>
                                                            <td th:text="${#numbers.formatDecimal(product.price,0,2)}+'$'"/>
                                                            <td th:text="${#numbers.formatDecimal(product.shippingWeight,1,2)}+'kg'"/>
                                                            <td th:text="${product.description}"/>
                                                            <td th:text="${product.inStock}"/>
                                                            <td th:text="${product.active}"/>
                                                            <td><a th:href="@{/editproduct/{id}(id=${product.id})}" style= margin-left:15px><i class="fa fa-edit fa-2x" style="color: #b9bbbe"></i></a></td>
                                                            <td>
                                                                <input type="hidden" name="id" th:value="${product.id}">
                                                                <button type="submit" class="btn"><i class="fa fa-trash fa-2x" style="color: #b9bbbe"></i></button>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br/>
                                                <a class="btn btn-success" th:href="@{/newproduct}">Add new product</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-3" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">

                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="row">
                                            <div class="col-md-20 col-md-offset-10">
                                                <table class="table table-hover">
                                                    <thead class="thead">
                                                    <tr>
                                                        <th scope="col">Account image</th>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">First name</th>
                                                        <th scope="col">Last name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Telephone</th>
                                                        <th scope="col">City</th>
                                                        <th scope="col">Street</th>
                                                        <th scope="col">Building number</th>
                                                        <th scope="col">Apartment number</th>
                                                        <th scope="col">Zip code</th>
                                                        <th scope="col">Is active?</th>
                                                        <th scope="col">Block</th>
                                                        <th scope="col">Unblock</th>
                                                        <th scope="col">Delete user</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr style="transform: rotate(0);" th:each="user: ${users}">
                                                        <form th:action="@{/deleteuser}" th:method="post" th:object="${user}">
                                                            <td> <img class="rounded-circle" th:src="@{'/image/'+'user'+${user.id}+'.png'}" alt="user_img" border=1 height=50 width=50></td>
                                                            <td th:type="number" th:text="${user.id}"/></td>
                                                            <td th:text="${user.username}"/>
                                                            <td th:text="${user.firstName}"/>
                                                            <td th:text="${user.lastName}"/>
                                                            <td th:text="${user.email}"/>
                                                            <td th:text="${user.tel}"/>
                                                            <td th:text="${user.address.city}"/>
                                                            <td th:text="${user.address.street}"/>
                                                            <td th:text="${user.address.buildingNumber}"/>
                                                            <td th:text="${user.address.apartmentNumber}"/>
                                                            <td th:text="${user.address.zip}"/>
                                                            <td th:text="${user.enabled}"/>
                                                            <td><a th:href="@{/block/{id}(id=${user.id})}" style= margin-left:7px><i class="fa fa-ban fa-2x" style="color: #b9bbbe"></i></a></td>
                                                            <td><a th:href="@{/unblock/{id}(id=${user.id})}" style= margin-left:15px><i class="fa fa-unlock fa-2x" style="color: #b9bbbe"></i></a></td>
                                                            <td>
                                                                <input type="hidden" name="id" th:value="${user.id}">
                                                                <button type="submit" class="btn"><i class="fa fa-trash fa-2x" style="color: #b9bbbe"></i></button>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-4" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">
                                <div class="row justify-content-center">
                                    <div class="col-md-20 col-md-offset-10">

                                        <table class="table table-hover">
                                            <thead class="thead">
                                            <tr>
                                                <th scope="col">Client info</th>
                                                <th scope="col">Order date</th>
                                                <th scope="col">Shipping date</th>
                                                <th scope="col">Shipping method</th>
                                                <th scope="col">Order status</th>
                                                <th scope="col">Total price</th>
                                                <th scope="col">Detailed info</th>
                                                <th scope="col">Manage</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="transform: rotate(0);" th:each="order: ${orders}">
                                                <form th:action="@{/deleteorder}" th:method="post" th:object="${order}">
                                                <td>
                                                <span th:text="${order.user.firstName}"></span>
                                                    <span th:text="${order.user.lastName}"></span>
                                                    <div th:text="${order.user.tel}"></div>
                                                    <div th:text="${order.user.email}"></div>
                                                </td>
                                                <td th:text="${order.orderDate}"/>
                                                <td th:text="${order.shippingDate}"/>
                                                <td th:text="${order.shippingMethod.displayValue}"/>
                                                <td th:text="${order.orderStatus.displayValue}"/>
                                                <td th:text="${order.orderTotal}+'$'"/>
                                                <td><a th:href="@{/order-details/{id}(id=${order.id})}" style= margin-left:25px ><i class="fa fa-info-circle fa-2x" style="color: #b9bbbe"></i></a></td>
                                                <td><a th:href="@{/order-manage/{id}(id=${order.id})}" style= margin-left:15px><i class="fa fa-edit fa-2x" style="color: #b9bbbe"></i>
                                                </a></td>
                                                <td>
                                                    <input type="hidden" name="id" th:value="${order.id}">
                                                    <button type="submit" class="btn"><i class="fa fa-trash fa-2x" style="color: #b9bbbe"></i></button>
                                                </td>
                                                    </form>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--success messages-->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col-md-20 col-md-offset-10">
                <div th:if="${param.categoryadded}" style="padding-top: 20px">
                    <div class="alert-success">You've successfully added new product category!</div>
                </div>

                <div th:if="${param.categoryremoved}" style="padding-top: 20px">
                    <div class="alert-success">You've successfully removed product category!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var tabToSelect = "tab-4";
    $(document).ready(function() {
        $('#admin-page-tabs a[href="#'+tabToSelect+'"]').tab('show')
    });
</script>
</body>
</html>