<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
    <link href="/css/admin-account.css" rel="stylesheet">
</head>
<body>
<div th:replace="common/common :: navbar"></div>

            <ul class="nav nav-tabs" >
                <li class="nav-item">
                    <a th:class="${classActiveCategories}? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#tab-1"><span style="color: black">Product categories</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-2"><span style="color: black">Add product</span></a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-3"><span style="color: black">Users</span></a>
                </li>
            </ul>

            <!--tab panels-->
            <div class="tab-content">

                <div class="tab-pane fade" id="tab-1" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">

                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="row">
                                            <div class="col-md-20 col-md-offset-10">


                                                <table class="table table-hover">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Category name</th>
                                                        <th scope="col">Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr style="transform: rotate(0);" th:each="category: ${categories}">
                                                        <form th:action="@{/deletecategory}" th:method="post" th:object="${category}">
                                                            <td th:type="number" th:text="${category.id}"/></td>
                                                            <td th:text="${category.categoryName}"/>
                                                            <td>
                                                                <input type="hidden" name="id" th:value="${category.id}">
                                                                <button type="submit" class="btn btn-danger">Remove</button>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                <form th:action="@{/add-category}" method="post" th:object="${category}">
                                    <div class="form-group">
                                        <label for="category">Add product category</label>
                                        <input type="text" th:field="*{categoryName}" class="form-control" id="category">
                                        <small class="form-text text-muted">Created category will shown in the sidebar on the main page.</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-2" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">
                               <p>Here will be adding product functionality</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-3" >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style=" margin-top: 20px;">

                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="row">
                                            <div class="col-md-20 col-md-offset-10">


                                                <table class="table table-hover">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">First name</th>
                                                        <th scope="col">Last name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Telephone</th>
                                                        <th scope="col">City</th>
                                                        <th scope="col">Street</th>
                                                        <th scope="col">Building and apartment number</th>
                                                        <th scope="col">Zip code</th>
                                                        <th scope="col">Is active?</th>
                                                        <th scope="col">Block</th>
                                                        <th scope="col">Unblock</th>
                                                        <th scope="col">Delete user</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr style="transform: rotate(0);" th:each="user: ${users}">
                                                        <form th:action="@{/deleteuser}" th:method="post" th:object="${user}">
                                                            <td th:type="number" th:text="${user.id}"/></td>
                                                            <td th:text="${user.username}"/>
                                                            <td th:text="${user.firstName}"/>
                                                            <td th:text="${user.lastName}"/>
                                                            <td th:text="${user.email}"/>
                                                            <td th:text="${user.tel}"/>
                                                            <td th:text="${user.address.city}"/>
                                                            <td th:text="${user.address.street}"/>
                                                            <td th:text="${user.address.buildingNumberAndApartment}"/>
                                                            <td th:text="${user.address.zip}"/>
                                                            <td th:text="${user.enabled}"/>
                                                            <td><a class="btn btn-warning" th:href="@{/block/{id}(id=${user.id})}">Block</a></td>
                                                            <td><a class="btn btn-success" th:href="@{/unblock/{id}(id=${user.id})}">Unblock</a></td>
                                                            <td>
                                                                <input type="hidden" name="id" th:value="${user.id}">
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--success messages-->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col-md-20 col-md-offset-10">
                <div th:if="${param.categoryadded}" style="padding-top: 20px">
                    <div class="alert-success">You've successfully added new product category!</div>
                </div>

                <div th:if="${param.categoryremoved}" style="padding-top: 20px">
                    <div class="alert-success">You've successfully removed product category!</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>