<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
</head>
<body>

<div th:replace="common/common :: navbar"></div>
<div class="content-section">
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Categories:</h1>
                <div class="list-group">
                    <a th:each="category : ${categories}" th:text="${category.categoryName}"
                       th:href="@{/products/{id}(id=${category.id})}" style="color: black" class="list-group-item">Category
                        name</a>
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <!--Here could be carousel-->

                <div class="justify-content-center" th:if="${param.success}">
                    <div class="alert alert-info"><p class="text-center">Item was added to the shopping cart</p></div>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-4" style="padding-top: 95px" th:each="product: ${productList}">
                        <div class="card h-100">
                            <a th:href="@{/product-page/{id}(id=${product.id})}"><img class="card-img-top"
                                                                                      th:src="@{'/image/'+'product'+${product.id}+'.png'}"
                                                                                      alt="prod_img" height=250
                                                                                      width=50></a>
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a th:href="@{/product-page/{id}(id=${product.id})}" style="color: black"
                                       th:text="${product.name}"></a>
                                </h6>
                                <h5 th:text="${#numbers.formatDecimal(product.price,0,2)}+'$'"></h5>
                                <p th:text="${product.inStock}? 'In stock'" style="color: lime"></p>
                                <p th:text="${!product.inStock}? 'Out of stock'" style="color: red"></p>

                            </div>
                            <!-- <div class="card-body">
                                 <a href="#" class="card-link">Add to shopping cart</a>
                             </div>-->
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- /.col-lg-9 -->
                <div th:if="${totalPages>1}">
                    <div class="row col-sm-10">
                        <div class="col-sm-4">
                            <b>Total items: [[${totalItems}]]</b>
                        </div>
                        <div class="col-sm-3">
                            <div class="inline d-inline" th:each="i:${#numbers.sequence(1, totalPages)}">
                                <a style="margin-right: 10px" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                                <span style="margin-right: 10px" th:unless="${currentPage != i}">[[${i}]]</span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage<totalPages}" th:href="@{'/page/'+${currentPage+1}}">Next</a>
                            <span th:unless="${currentPage<totalPages}">Next</span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage<totalPages}" th:href="@{'/page/'+${totalPages}}">Last</a>
                            <span th:unless="${currentPage<totalPages}">Last</span>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
</div>
<div th:replace="common/common :: footer"></div>
</body>
</html>