<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header"></head>
<body>
<div th:replace="common/common :: navbar"></div>

<!-- Sidebar filter section -->
<section id="sidebar">
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Categories</h6>
        <br/>
        <form>
            <div class="form-group"> <input type="checkbox" id="item1"> <label for="item1">Item 1</label> </div>
            <div class="form-group"> <input type="checkbox" id="item2"> <label for="item2">Item 2</label> </div>
            <div class="form-group"> <input type="checkbox" id="item3"> <label for="item3">Item 3</label> </div>
        </form>
    </div>

</section>
<!-- products section -->
<section id="products">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="text-muted m-2" id="res">Showing results</div>
            <div class="ml-auto mr-lg-5">
                <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Sort by</span> <select name="sort" id="sort">
                    <option value="popularity"><b>Popularity</b></option>
                    <option value="prcie"><b>Price</b></option>
                    <option value="rating"><b>Rating</b></option>
                </select> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                <div class="card"> <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5><b>Item 1</b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">12$</div>
                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 loaf</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                <div class="card"> <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5><b>Item 2</b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">40$</div>
                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                <div class="card"> <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5><b>Item 3</b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">60$</div>
                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 loaf</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                <div class="card"> <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5><b>Item 4</b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">99$</div>
                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                <div class="card"> <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5><b>Item 5</b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">50$</div>
                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                <div class="card d-relative"> <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5><b>Item 6</b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted price"><del>88$</del>₹45/piece</div>
                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span>1pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer-->

<!--<div th:replace="common/common :: footer" ></div>-->

</body>
</html>