<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
</head>
<body>
<div th:replace="common/common :: navbar"></div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col-md-20 col-md-offset-10">

                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Product image</th>
                        <th scope="col">Id</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Product category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Description</th>
                        <th scope="col">In stock</th>
                        <th scope="col">Add new product</th>
                        <th scope="col">Delete product</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="transform: rotate(0);" th:each="product: ${productList}">
                        <form th:action="@{/deleteproduct}" th:method="post" th:object="${product}">
                            <td><img th:src="@{'/image/'+'product'+${product.id}+'.png'}" alt="prod_img" border=1 height=100 width=100></td>
                            <td th:type="number" th:text="${product.id}"/></td>
                            <td th:text="${product.name}"/>
                            <td th:text="${product.productCategories}"/>
                            <td th:text="${#numbers.formatDecimal(product.price,0,2)}+'$'"/>
                            <td th:text="${#numbers.formatDecimal(product.shippingWeight,1,2)}+'kg'"/>
                            <td th:text="${product.description}"/>
                            <td th:text="${product.inStock}"/>
                            <td><a class="btn btn-success" th:href="@{/newproduct}">Add</a></td>
                            <td>
                                <input type="hidden" name="id" th:value="${product.id}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>