<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
</head>
<body>
<div th:replace="common/common :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Categories:</h1>
            <div class="list-group">
                <a th:each="category : ${categories}" th:text="${category.categoryName}"
                   th:href="@{/products/{id}(id=${category.id})}" class="list-group-item">Category name</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">

                <div class="col-md-14" style="padding-top: 95px; padding-left: 50px; width: 100%"
                     th:object="${product}">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="images p-3">
                                    <div class="text-center p-4"><img id="main-image"
                                                                      th:src="@{'/image/'+'product'+${product.id}+'.png'}"
                                                                      alt="prod_img" height="250" width="200"/></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center"><i class="fa fa-long-arrow-left"></i>
                                            <span class="ml-1"> <a th:href="@{/index}">Back</a></span></div>
                                        <i class="fa fa-shopping-cart text-muted"></i>
                                    </div>
                                    <br/>
                                    <h5 class="text-uppercase" th:text="${product.name}"></h5>
                                    <br/>
                                    <div class="price inline d-flex flex-row align-items-center">
                                        <span><b>Price: </b></span> &nbsp <span class="act-price"
                                                                                th:text="${product.price}+'$'"></span>
                                    </div>
                                    <br/>
                                    <div class="inline d-flex flex-row align-items-center">
                                        <span><b>Shipping weight: </b></span> &nbsp <span
                                            th:text="${product.shippingWeight}+'kg'"></span></div>
                                    <br/>
                                    <p th:text="${product.inStock}? 'In stock'" style="color: lime"></p>
                                    <p th:text="${!product.inStock}? 'Out of stock'" style="color: red"></p>
                                    <br/>
                                    <div><span><b>Description: </b></span> &nbsp <span
                                            th:text="${product.description}"></span></div>

                                    <div class="cart mt-4 align-items-center">
                                        <button class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button>
                                        <i class="fa fa-heart text-muted"></i> <i
                                            class="fa fa-share-alt text-muted"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </br>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="page-header">
                                    <h1><small class="pull-right">45 comments</small> Comments </h1>
                                    </br>
                                </div>
                                <div class="comments-list">
                                    <div class="media">
                                        <p class="pull-right"><small>5 days ago</small></p>
                                        <a class="media-left" href="#">
                                            <img src="http://lorempixel.com/40/40/people/1/">
                                        </a>
                                        <div class="media-body">

                                            <h4 class="media-heading user_name">Baltej Singh</h4>
                                            Wow! this is really great.

                                            <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                                        </div>
                                    </div>

                                    <form>
                                    <fieldset>
                                    <div class="form-group">
                                        <textarea rows="4"  class="form-control"
                                                  placeholder="Leave your comment here"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Leave comment</button>
                                    </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>


                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

    <!-- /.row -->
</div>


</div>
<!-- /.container -->


</body>
</html>