<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-header">
</head>
<body>
<div th:replace="common/common :: navbar"></div>

        <div class="row justify-content-center">
            <div class="col-md-20 col-md-offset-10">

                <table class="table table-hover">
                    <thead class="thead">
                    <tr>
                        <th scope="col">Product image</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Price per unit</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal price</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="transform: rotate(0);" th:each="cartItem: ${cartItems}">
                        <form th:action="@{/delete-cart-item}" th:method="post" th:object="${cartItem}">
                            <td><img th:src="@{'/image/'+'product'+${cartItem.product.id}+'.png'}" alt="prod_img" border=1 height=100 width=100></td>
                            <td th:text="${cartItem.product.name}"/>
                            <td th:text="${cartItem.product.price}+'$'"/>
                            <td th:text="${cartItem.quantity}"/>
                            <td th:text="${cartItem.subtotal}+'$'"/>
                            <td><a class="btn btn-success" th:href="@{/}">Add to order</a></td>
                            <td>
                                <input type="hidden" name="id" th:value="${cartItem.id}">
                                <button type="submit" class="btn btn-danger">Remove from shopping cart</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

</body>
</html>